<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="icon/favicon-32x32.png"
          sizes="32x32">
    <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>社区居民网上互助银行</title>
</head>

<body>
<!-- header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-9 col-lg-8 col-xl-9">
                <div class="header__content">
                    <!-- header menu btn -->
                    <button class="header__btn" type="button">
                        <span></span> <span></span> <span></span>
                    </button>
                    <!-- end header menu btn -->


                    <ul class="header__nav">
                        <!-- dropdown -->
                        <li class="header__nav-item"><a href="frontIndex"
                                                        class="header__nav-link">网站首页</a></li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item"><a
                                class="dropdown-toggle header__nav-link" href="pingtai">平台信息</a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item"><a
                                class="dropdown-toggle header__nav-link" href="jianyi">建议意见箱</a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item"><a
                                class="dropdown-toggle header__nav-link" href="tongzhi">通知公告</a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item"><a
                                class="dropdown-toggle header__nav-link" href="aboutUs">用户操作指南</a>
                        </li>
                        <!-- end dropdown -->

                    </ul>
                </div>
            </div>

        </div>
</header>
<!-- end header -->

<!-- main content -->
<main class="main main--breadcrumb">
    <!-- breadcrumb -->
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb__wrap">
                        <li class="breadcrumb__item"><a href="#">用户操作指南</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <div class="post__head-title">
                            <h5>
                                <a href="#">用户操作指南</a>
                            </h5>
                        </div>
                    </div>

                    <div class="post__description">
                        <td valign="top" style="padding: 40px 50px 20px 50px;">
                            <style>
                                body {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 26px;
                                }

                                #contents p {
                                    font-size: 14px;
                                    line-height: 26px;
                                    margin: 0;
                                    padding: 0;
                                }
                            </style>
                            <br>
                            <table width="90%" id="article" cellspacing="0" align="center"
                                   cellpadding="0">
                                <tbody>
                                <tr>
                                    <td height="150px" valign="top" class="bt_content" id="zoom"
                                        style="padding-top: 20px;">
                                        <div id="contents"
                                             style="font-size: 14px; line-height: 26px">
                                            <!--ZJEG_RSS.content.begin-->
                                            <meta name="ContentStart">
                                            <h3>一、登录注册</h3>
                                            <p>
                                                新用户先点击登录/注册按钮进入到登录界面，再点击注册跳转到注册界面，填写相关信息就可以注册，注意账号是用手机号码注册，注册成功后跳转到登录页面进行登录。
                                            </p><br>
                                            <h3>二、转赠虚拟币</h3>
                                            <p>
                                                登录成功后进到首页，点击右上角姓名再点击赠送虚拟币就可以进行赠送。在赠送界面选择赠送对象，对象都是注册的用户所有直接选择用户姓名，然后再输入赠送的数额，当数额大于自己余额就会赠送失败。
                                            </p><br>
                                            <h3>三、修改个人信息</h3>
                                            <p>
                                                登录成功后进到首页，点击右上角姓名再点击个人信息进入到信息修改界面，内容修改后点提交信息就修改成功了。
                                            </p><br>
                                            <h3>四、发布需求</h3>
                                            <p>
                                                登录成功后进到首页，点击右上角姓名再点击发布需求进入发布界面，填好相应的信息，在需求内容里面写好详细的地点、时间、事件以及联系电话。当用户发布的需求所需要的虚拟币大于用户余额时发布需求失败，充值后才能发布。发布的时候不需要支付虚拟币，充值是为了后续工作做准备。
                                            </p><br>
											<h3>五、申请需求</h3>
											<p>
												在网页首页根据服务分类浏览服务需求，有和自己空闲时间相符的就可以申请。提交申请后等待管理员审核，审核通过后管理员联系双方用户进行详细沟通。
											</p>


                                            <meta name="ContentEnd">
                                            <!--ZJEG_RSS.content.end-->
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td align="left" height="30"></td>
                                </tr>
                                <tr>
                                    <td height="48" style="padding-top: 8px; font-size: 14px;"
                                        align="left" id="sxp">
                                        <style>
                                            #sxp a {
                                                color: #0000f3;
                                            }
                                        </style>
                                        <script language="javascript"
                                                src="/module/changepage/gettitle.jsp?appid=1&amp;showtip=0&amp;titlelimit=99&amp;webid=1&amp;cataid=42273&amp;catatype=1&amp;position=prev&amp;infoid=16821"></script>
                                        <br>
                                        <br>
                                        <script language="javascript"
                                                src="/module/changepage/gettitle.jsp?appid=1&amp;showtip=0&amp;titlelimit=99&amp;webid=1&amp;cataid=42273&amp;catatype=1&amp;position=next&amp;infoid=16821"></script>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>

                    </div>


                </div>
                <!-- end post -->

            </div>
        </div>
    </div>
</main>
<!-- end main content -->

<!-- JS -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/wNumb.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>