<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/select2.min.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>社区居民网上互助银行</title>
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-7 col-md-9 col-lg-8 col-xl-9">
					<div class="header__content">
						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span> <span></span> <span></span>
						</button>
						<!-- header nav -->
						<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item"><a href="frontIndex"
								class="header__nav-link">网站首页</a></li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="pingtai">平台信息</a>
</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="jianyi">建议意见箱</a>
</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="tongzhi">通知公告</a>
</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="aboutUs">用户操作指南</a>
</li>
							<!-- end dropdown -->

						</ul>
					</div>
				</div>

				<div class="col-5 col-md-3 col-lg-4 col-xl-3"></div>
			</div>
		</div>
	</header>

	<!-- main content -->
	<main class="main main--breadcrumb">
		<!-- breadcrumb -->
		<div class="breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="breadcrumb__wrap">
							<li class="breadcrumb__item"><a href="/frontIndex">网站首页</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">我的申请需求</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb -->

		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7 col-lg-8 col-xl-9">
					<!-- form -->
					<form action="#" class="form">
						<div class="row">
						<div class="col-12 col-xl-6" th:if="${#lists.isEmpty(list)}">
								<div class="faq__box">
									<h3>暂无需求</h3>
								</div>
								
							</div>
							<div class="col-12 col-xl-6"	th:each="user : ${list}">
								<div class="faq__box">
									<h3 th:utext="${user.xuqiuName}">Jobs</h3>
									<div class="col-12">
										<div class="form__group">
											<label for="text" class="form__label">需求内容:</label>
											<textarea th:utext="${user.xuqiuContent}" name="content" id="content" class="form__textarea"></textarea>
										</div>
									</div>
									<ul>
										<li th:text="${'需求发布者：'+user.fabuUserName}"><a href="#"></a></li>
										<li th:text="${'需求佣金：'+user.money}"><a href="#"></a></li>
									</ul>
									<h3>我的申请资料</h3>
									<ul>
										<li th:text="${'姓名：'+user.username}"><a href="#"></a></li>
										<li th:text="${'年龄：'+user.age}"><a href="#"></a></li>
										<li th:text="${'性别：'+user.sex}"><a href="#"></a></li>
										<li th:text="${'地址：'+user.address}"><a href="#"></a></li>
										<li th:text="${'手机号：'+user.phone}"><a href="#"></a></li>
										<li th:text="${'身份证号：'+user.num}"><a href="#"></a></li>
										
										<li th:switch="${user.status}"><span style="color:red;" th:case="1">申请审核中</span>
									      <span style="color:red;" th:case="2">申请审核通过</span>
									      <span style="color:red;" th:case="4">当前需求已完成</span>
									      <span style="color:red;" th:case="*">申请审核未通过</span></li>
									</ul>
									<div class="faq__box">
										<p th:text="${'发布时间：'+#dates.format(user.createtime,'yyyy-MM-dd HH:mm:ss')}"></p>
									</div>
									<div class="col-12" th:if="${user.status == 4}">
										<div class="form__group">
											<label for="text" class="form__label">需求发布者评价:</label>
											<textarea th:utext="${user.fabuliuyan}" name="fabuliuyan" disabled id="fabuliuyan" class="form__textarea"></textarea>
										</div>
									</div>
									<a href="#" th:if="${user.status == 2}" th:onclick="getName4([[${user.id}]]);" class="post__apply" style="width:100%"><span>点击完成</span></a>
									
								</div>
								
							</div>
							
						</div>
					</form>
					<!-- end form -->
				</div>

<div class="col-12 col-md-5 col-lg-4 col-xl-3">
					<!-- sidebox -->
					<div class="sidebox sidebox--desk">
						<div class="user__head">
							<div class="user__img">
								<img th:src="${session.userInfo.img}" alt="">
							</div>
						</div>
						<div class="user__title">
							<h2 th:text="${session.userInfo.username}">姓名</h2>
						</div>
						<ul class="user__stats">
							<li>
								<p>年龄</p> <span th:text="${session.userInfo.age}">26</span>
							</li>
							<li>
								<p>性别</p> <span th:text="${session.userInfo.sex}">男</span>
							</li>
						</ul>
						<ul class="user__stats">
							<li style="margin-left:25%">
								<p>账户余额</p> <span th:text="${session.userInfo.money}">26</span>
							</li>
						</ul>
						<a href="#" th:onclick="getName1([[${session.userInfo.id}]]);" class="post__apply" style="width:100%"><span>我的发布需求</span></a>
						<a href="#" th:onclick="getName2([[${session.userInfo.id}]]);" class="post__apply" style="width:100%"><span>我的申请需求</span></a>
						<a href="#" th:onclick="getName3([[${session.userInfo.id}]]);" class="post__apply" style="width:100%"><span>账户交易记录</span></a>
					</div>
					<!-- end sidebox -->
				</div>			</div>
		</div>
	</main>
	<!-- end main content -->

	<!-- footer -->
<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<span class="footer__copyright">© 2021 招聘会服务管理系统</span>

						<button class="footer__back" type="button">
							<i class="icon ion-ios-arrow-round-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/wNumb.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/select2.min.js"></script>
	<script src="js/jquery.mousewheel.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script src="js/main.js"></script>
	<script src="/layui/layui.all.js"></script>
	<script src="/js/core.util.js"></script>
<script>
    function sub(){
    var username = $("#username").val().trim();
    var password = $("#password").val().trim();
    var age = $("#age").val().trim();
    var sex = $("#sex").val().trim();
    if(username == '' || password == '' || age == '' || sex == ''){
    layer.alert('请把信息填写完整！',{icon: 5});
    return;
    }
    var person = new Object();
    person.username = username;
    person.password = password;
    person.age = age;
    person.sex = sex;
	$.ajax({
	       type: "POST",
	       url:"/editUser",
	       data:JSON.stringify(person),
            contentType: 'application/json; charset=UTF-8',
            dataType: "json",
	       success: function(data) {
	       	 if(data.code==0){
	       		layer.alert('修改成功',{icon: 6}); 
	       		setTimeout(function(){
			        		location.reload();
				       		}, 1000);
	       	 }else{
	       		layer.alert('修改失败',{icon: 6}); 
	       	 }
	       }
	   });
}
function getName1(id){
	location.href="myXuqiu?id="+id;
}
function getName2(id){
	location.href="myShenqing?id="+id;
}
function getName3(id){
	location.href="myJilu?id="+id;
}
function getName4(id){
 var person = new Object();
    person.id = id;

	$.ajax({
	       type: "POST",
	       url:"/wancheng",
	       data:JSON.stringify(person),
            contentType: 'application/json; charset=UTF-8',
            dataType: "json",
	       success: function(data) {
	       	 if(data.code==0){
	       		layer.alert('操作成功',{icon: 6}); 
	       		setTimeout(function(){
			        		location.reload();
				       		}, 1000);
	       	 }else{
	       		layer.alert('操作失败',{icon: 6}); 
	       	 }
	       }
	   });
}

function getName5(id){
 var person = new Object();
    person.id = id;
var jieshouliuyan = $("#jieshouliuyan").val();
person.jieshouliuyan = jieshouliuyan;

	$.ajax({
	       type: "POST",
	       url:"/jieshouliuyan",
	       data:JSON.stringify(person),
            contentType: 'application/json; charset=UTF-8',
            dataType: "json",
	       success: function(data) {
	       	 if(data.code==0){
	       		layer.alert('操作成功',{icon: 6}); 
	       		setTimeout(function(){
			        		location.reload();
				       		}, 1000);
	       	 }else{
	       		layer.alert('操作失败',{icon: 6}); 
	       	 }
	       }
	   });
}
</script>
</body>
</html>