<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="css/bootstrap-grid.min.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/nouislider.min.css">
<link rel="stylesheet" href="css/select2.min.css">
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="css/ionicons.min.css">
<link rel="stylesheet" href="css/main.css">

<!-- Favicons -->
<link rel="icon" type="image/png" href="icon/favicon-32x32.png"
	sizes="32x32">
<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="icon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="icon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144"
	href="icon/apple-touch-icon-144x144.png">

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Dmitry Volkov">
<title>社区居民网上互助银行</title>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-7 col-md-9 col-lg-8 col-xl-9">
					<div class="header__content">
						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span> <span></span> <span></span>
						</button>
						<!-- end header menu btn -->


						<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item"><a href="frontIndex"
								class="header__nav-link">网站首页</a></li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="pingtai">平台信息</a>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="jianyi">建议意见箱</a>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="tongzhi">通知公告</a>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="aboutUs">用户操作指南</a>
							</li>
							<!-- end dropdown -->

						</ul>
					</div>
				</div>

			</div>
	</header>
	<!-- end header -->

	<!-- main content -->
	<main class="main main--breadcrumb">
		<!-- breadcrumb -->
		<div class="breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="breadcrumb__wrap">
							<li class="breadcrumb__item"><a href="#">平台信息</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb -->

		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-12 col-xl-12">
					<!-- post -->
					<div class="post">
						<div class="post__head">
							<div class="post__head-title">
								<h5>
									<a href="#">平台信息</a>
								</h5>
							</div>
						</div>

						
		<div class="right">
			<div class="right_text">为加快社会管理创新行动，构建方便快捷、公平普惠、优质高效的政府服务信息体系，提升各级政府政务服务水平和社会管理能力，根据《国务院办公厅转发国家发展改革委等10部门&lt;推进“互联网+政务服务”开展信息惠民试点实施方案&gt;的通知》（国办发〔2016〕23号）、《国务院关于加快推进“互联网+政务服务”工作的指导意见》（国发〔2016〕55号）、《关于印发“互联网+政务服务”技术体系建设指南的通知》（国办函〔2016〕108号）以及最新的《国务院办公厅关于印发进一步深化“互联网+政务服务”推进政务服务“一网、一门、一次”改革实施方案的通知》（国办发〔2018〕45号）等文件的要求和部署，建设整体联动、部门协同、市级统筹、一网办理的“互联网+政务服务”体系，大幅提升政务服务智慧化水平，让政府服务更聪明，让企业和群众办事更方便、更快捷、更有效率。</div>
			<div class="right_img">
				<img src="img/solution/service_right.png" alt="">
			</div>
			<div class="right_text">根据《关于印发“互联网+政务服务”技术体系建设指南的通知》（国办函〔2016〕108号）要求，“互联网+政务服务”平台主要实现政务服务统一申请、统一受理、集中办理、统一反馈和全流程监督等功能，逻辑上主要由互联网政务服务门户、政务服务管理平台、业务办理系统和政务服务数据共享平台四部分构成。
			<br><br>
			政务服务管理平台是承担政务服务管理职能的机构（政务服务管理机构）进行政务服务事项管理、运行管理、监督考核等工作的平台，是政务服务门户信息的来源，是业务办理系统接入的通道。政务服务管理平台包括政务服务事项管理系统、政务服务运行平台、基层公共服务运行平台、电子证照管理系统、智能化服务系统以及综合电子监察系统等，为行政权力的规范梳理、服务优化和有效监督提供业务应用支撑，实现政务服务的就近办理、同城通办、异地办理，变“群众来回跑”为“部门协同办”。
			</div>
		</div>


					</div>
					<!-- end post -->

				</div>
			</div>
		</div>
	</main>
	<!-- end main content -->

	<!-- JS -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/wNumb.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/select2.min.js"></script>
	<script src="js/jquery.mousewheel.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>