<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/select2.min.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>社区居民网上互助银行</title>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="row">
<div class="col-7 col-md-9 col-lg-8 col-xl-9">
					<div class="header__content">
						<!-- header menu btn -->
						<button class="header__btn" type="button">
							<span></span> <span></span> <span></span>
						</button>
						<!-- end header menu btn -->

	<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item"><a href="frontIndex"
								class="header__nav-link">网站首页</a></li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="pingtai">平台信息</a>
</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="jianyi">建议意见箱</a>
</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="tongzhi">通知公告</a>
</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item"><a
								class="dropdown-toggle header__nav-link" href="aboutUs">用户操作指南</a>
</li>
							<!-- end dropdown -->

						</ul>
					</div>
				</div>
				
		</div>
	</header>
	<!-- end header -->

	<!-- main content -->
	<main class="main main--breadcrumb">
		<!-- breadcrumb -->
		<div class="breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="breadcrumb__wrap">
							<li class="breadcrumb__item"><a href="#">服务协议</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb -->

		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-12 col-xl-12">
					<!-- post -->
					<div class="post">
						<div class="post__head">
							<div class="post__head-title">
								<h5><a href="#">服务条款</a></h5>
							</div>
						</div>

						<h2 class="post__title">请认真阅读以下条款</h2>

						<div class="post__description">
							<p>1、新注册用户可获得50虚拟币</p>
							<p>2、完成服务后如果和需求不符或者服务质量没有得到需求者和管理员的认可，此次服务就作废不会得到虚拟币。</p>
							<p>3、服务时间虚拟币的兑换关系如下</p>
							<ul>
								<li>公共服务类项目：完成1小时可获得20个时间货币</li>
								<li>关爱服务类项目：完成1小时可获得25个时间货币</li>
								<li>家政服务类项目：完成1小时可获得30个时间货币</li>
								<li>家庭维修类项目：完成1小时可获得50个时间货币</li>
								<li>培训教育类项目：完成1小时可获得100个时间货币</li>
								<li>医疗保健类项目：完成1小时可获得100个时间货币</li>
								<li>文化艺术类项目：完成1小时可获得50个时间货币</li>
								<li>运动休闲类项目：完成1小时可获得50个时间货币</li>
								<li>上门服务类项目：完成1小时可获得50个时间货币</li>
								<li>专业技术类项目：完成1小时可获得150个时间货币</li>
								<li>定制服务类项目：完成1小时可获得100个时间货币</li>
								<li>公益活动类项目：完成1小时可获得20个时间货币</li>
							</ul>
							<p>管理员联系电话：15125183590</p>


						</div>


					</div>
					<!-- end post -->

				</div>
			</div>
		</div>
	</main>
	<!-- end main content -->

	<!-- JS -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/wNumb.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/select2.min.js"></script>
	<script src="js/jquery.mousewheel.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>