<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 扫描base-package指定的目录下面的@Controller @Service @Component 等注解的类，以便加入IOC容器管理-->
    <context:component-scan base-package="com.hqyj.dl"/>
    <!-- 导入mybatis的配置-->
    <import resource="spring-mybatis.xml"/>
    <!-- 导入shirod的配置-->
    <import resource="spring-shiro.xml"/>
</beans>